 @charset "UTF-8";

 article {
     border: 1px solid #acacac70;

 }


 .navbar {
     margin-bottom: 40px;
 }

 .card {
     margin-bottom: 20px;
 }


 #pfp {
     height: 160px;
     width: 2400px;
 }